<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="panel panel-default">
				<div class="panel-heading">
					Listagem de Projetos
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th><a ng-href="#/projects/new" rel="tooltip" title="Novo"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
								<th>Name</th>
								<th>Client</th>
								<th>Progress (%)</th>
								<th>Due date</th>
								<th>#</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="o in projects">
								<td><a ng-href="#/projects/{{ o.id }}/edit"><i class="glyphicon glyphicon-edit" rel="tooltip" title="Editar"></i></a></td>
								<td>{{ o.name }}</td>
								<td>{{ o.client_name }}</td>
								<td>
									{{ status[o.status-1].label }}
									<progressbar class="progress-striped" animate="true" max="100" value="o.progress" type="success">{{ o.progress }}</progressbar>
								</td>
								<td>{{ o.due_date | dateBR }}</td>
								<td><a ng-href="#/projects/{{ o.id }}/remove" rel="tooltip" title="Excluir"><i class="glyphicon glyphicon-trash"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
